@model AspNetDemo.Models.Company

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Annex - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="../../../../Content/DashboardAssets/assets/images/favicon.ico">

    <link href="../../../../Content/DashboardAssets/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../Content/DashboardAssets/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../../../../Content/DashboardAssets/assets/css/style.css" rel="stylesheet" type="text/css">

</head>


<body>
    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">
                <h3 class=" text-center">
                    EoS
                </h3>
                <div class="p-3">
                    <form class="form-horizontal m-t-20" action="index.html">

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="uniqueEmail" class="form-control" type="text" required="" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="uniquePassword" class="form-control" type="password" required="" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <center>
                                <input style="text-align: center; background: #63C76A; color: white" class="btn-default btn" onclick="location.href = '@Url.Action("Login", "Login", new {area = "Customer"})?email=' + $('#uniqueEmail').val() + '&password=' + $('#uniquePassword').val()" value="Submit" />
                            </center>
                        </fieldset>
                        <div class="text-center mt-2">
                            <p>Bạn chưa có tài khoản ?<a href="@Url.Action("Index","Register", new {area = "Customer"})" class="text-muted">đăng ký ngay </a></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- jQuery  -->
    <script src="../../../../Content/DashboardAssets/assets/js/jquery.min.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/popper.min.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/bootstrap.min.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/modernizr.min.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/waves.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/jquery.slimscroll.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/jquery.nicescroll.js"></script>
    <script src="../../../../Content/DashboardAssets/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="../../../../Content/DashboardAssets/assets/js/app.js"></script>

</body>
</html>
